<?xml version="1.0"?>
<launch>
<!--   <include file="$(find racecar_gazebo)/launch/racecar_tunnel.launch"/> -->
  <include file="$(find racecar_gazebo)/launch/racecar.launch">
    <arg name="world_name" value="racecar_walker"/>
    <arg name="gui" value="true"/>
  </include>

  <node name="lec_control" pkg="lec_control" type="lec_control.py" />

</launch>